<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="logicart" value="https://nuget.pkg.github.com/logicart-software/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <logicart>
            <add key="Username" value="logicart-software" />
            <add key="ClearTextPassword" value="422a7ec8b4c6186bd744127873864a62ef2e413c" />
        </logicart>
    </packageSourceCredentials>
</configuration>
