<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="logicart" value="https://nuget.pkg.github.com/logicart-software/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <logicart>
            <add key="Username" value="logicart-software" />
            <add key="ClearTextPassword" value="c203702a675d1bf30dfe8c8bc99ddf36e6ca3e51" />
        </logicart>
    </packageSourceCredentials>
</configuration>
